
# Jon's files
RA/
Docker/
run*.sh

# RV package manager
rv
toDelete
rproject.toml
rv.lock
.Rprofile

# Dev Container
.devcontainer
.github 

# Script temp Files
temp_instruct_vars.sh